form{
    margin-top: 1em;
}

.form-group {
    display: flex;
    width: 100%;
}

.items {
    width: 100%;
    margin-bottom: -1em;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.panelbutton {
    height: 3.5em;
}

.checked {
    opacity: 0.5;
}

.welcomeBox {
  padding: 10px;
  margin-top: 50px;
  width: 400px;
}
